
nav {
  background-color: #800000;
  font-family: Arial, sans-serif;

}


h1,h2 {
  text-transform: uppercase;
  
}

a {
  background-color: #404040;
  color: white;
  text-decoration: none;
  display: block;
  float: left;
  padding: 20px;
  
}

.clearfix:after {
  visibility: hidden;
  display: block;
  content: " ";
  clear: both;
  height: 0;
  font-size: 0;
}


.mySlides {display:none;}

