@import url('https://fonts.googleapis.com/css?family=Caveat+Brush|Open+Sans|PT+Sans');
body {
	background: url(../images/casket.jpg);
	background-size: cover;
	color: #fff;
	text-align: center;
	font-family: 'Open Sans',arial;
}

h3 {
	font-style: italic;
	font-family: PT Sans;
	text-transform: uppercase;
}

p {
	font-size: 15px;
}

hr {
	width: 275px;
}

p {
	font-size: 20px;

}

#bottom {
	font-size: 15px;
	font-style: bold;
	font-family: Open Sans;
	text-decoration: none;
}

a {
	text-decoration: none;
	font-weight: 100px;
}